.main-title {
    font-size: 40px;
    color: #E0E0E0;
    text-shadow: 4px 4px 3px #000;  
    margin-bottom: 28px; 
}

.main-title.-second {
    color: #000;
    text-shadow: none;
    text-align: center;
}